*{                /*reset del CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #f0efedf6;
    font-family: 'Old Standard TT', serif;
    font-size: 1rem;
    line-height: 1.4em;
    color: #333;
    height: 100vh;
}
.contenedor-general{
    display:flex;
    flex-direction: column;
}
.header{
    background-color: rgba(79, 92, 97, 0.793);
    padding: 3rem;
    left:0;
    top:0;
    right:0;
}
.main{
    display: grid;
    padding-top: 3rem;
}
.logo{
    color: white;
    font-size: 1.8em;   
}
.logo2{
    color: white;
    font-size: 1em;
    font-style: italic;
    padding: 0px;
}
.navbar-brand{
    padding-bottom: 0px;
    margin-right: 0px; 
}  
h1, h2{
    text-align: center;
    color:#634e3f;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
}

.header nav ul li{
    list-style: none;
    display: inline-block;
    font-weight:bold;
    font-size:16px;
    text-align: end;
}
li{
    padding-left:1rem;
    padding-right:1rem;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(58, 155, 58);
}
h2{
    padding: 20px;
}
.bienvenido{
    font-style: italic;
    text-align: center;
}

/*boton flotante whatsapp*/
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #10df52;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover{
    opacity: 0.6;
}
.icon-whatsapp{
    width: 30px;
    height: 30px;

}

/*estilo del carousel*/
.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner{
 height: 500px;
}

.mapa{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    
}
.mapa iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p{
    margin: 0 0 6.5em 0;
    padding: 20px;
}
.ubicacion iframe{
    margin-left: 10px;
}

/*inicio del footer*/
.footer{
    background-color: rgba(199, 186, 168, 0.853);
    margin-top: 15rem;
    padding-top: 40px;
    color:white;
    width: 100%; 
     
}
.contenedor-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.columna1{
    max-width: 400px;
}
.columna1 h2{
    font-size: 20px;
}
.contacto{
    margin-top: 20px;
    display: flex;
}
.contacto img{
    width: 20px;
    height: 20px;
    
}
.contacto label{
    margin-top: 10px;
    margin-left: 10px;
    max-width: 150px;

}
.columna2{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columna2 h2{
    margin-top: 50px;
    font-size: 35px;
}
.columna3{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columna3 h2{
    font-size: 20px;
}
.redes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.redes img{
    width: 32px;
    height: 32px;
    margin: 0 20px 0 0px;
    }
.booking img{
    width: 300px;
    height: 100px; 
}    
.contenedor-footer a{
    transition: background-color .5s;
}
.contenedor-footer a:hover{
    filter: opacity(.5);
}

 /*seccion servicios*/
 .title-servicios{
     text-align: center;
     margin-bottom: 50px;
 }
 .container-servicios{
     width: 100%;
     max-width: 1200px;
     height: 430px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: auto;
 }
 .container-servicios .card-servicios{
     width: 330px;
     height: 430px;
     border-radius: 8px;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
     overflow: hidden;
     margin: 20px;
     text-align: center;
     transition: all 0.25s;
 }
 .container-servicios .card-servicios img{
     width: 330px;
     height: 220px;

 }
 .container-servicios .card-servicios:hover{
     transform: translateY(-15px);
     box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
 }
 
  /* ESTILOS DE LA GALERIA DE IMAGENES*/
  .galeria-item img {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
  
 .galeria-item{
     display: flex;
     align-items: center;
     justify-content: center;    
     transition: transform 0.3s ease-in-out;
}
 .galeria-item:hover{
     filter: opacity(0.9);
     transform: scale(1.2);
 }
 .galeria-container{
     display: grid;
     grid-template-columns: repeat(auto-fill, 250px);
     grid-auto-rows: 200px;
     gap: 15px;
     padding: 20px;
     justify-content: space-around;
 }



/*ESTILO DEL FORMULARIO*/
#form{
    width: 800px;
    height: auto;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
}
#form h2{
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input{
    border: none;
    padding: 3px;
}
textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background: #9b7cc9;
    padding: 20px;
    border-radius: 20px;
    margin-left: 600px;
    margin-bottom: 10px;
}
#boton:hover{
    cursor: pointer;
    color: #e7c799;
    background: #333;

}

#mapa{
    margin-top: 100px;
}
.galeria{
    margin-left: 40px;
}
.tarifas{
    margin-left: 700px;
}
.location{
    float: left;
}
.donde{
    text-align: center;
}


/*seccion turismo*/

.turismo .recomendados{
    transition: all 0.25s;
}
.turismo .recomendados:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


/*seccion ubicacionycontacto*/
.ubicacion{
    display: flex;
    margin: auto;
}
.ubicacion p{
    padding: 90px;
}

/*esta es la media hasta 320 (mobiles)*/
@media screen and (max-width:320px){
       
    .contenedor-footer{
        flex-direction: column;
    }
    .contenedor-footer .columna1 h2{
        text-align: center;
    }
   
   .columna1{
       display: flex;
       flex-direction: column;
       
   }  
   
 }

@media screen and (max-width: 520px){
    .galeria .imagenes-galeria{
         grid-template-columns: repeat(2,50%);
    }
    .inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
       }
    #form{
        width: 100%;
    }
    .turismo{
        grid-template-columns: repeat(2, 1fr);
       }
    .container-servicios{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto; 
    }
    .ubicacion{
            flex-direction: column;
            margin: auto;
        }  
       
    
}

    
 /*esta es la media hasta 768 (tablet)*/
 @media screen and (max-width: 768px){
        .galeria .imagenes-galeria{
           grid-template-columns: repeat(3, 33.3%);
    }
 }