/*header*/
.header{
    background-color: $colorHeader;
    padding: 3rem;
    left:0;
    top:0;
    right:0;
    .logo{
        color: white;
        font-size: 1.8em;   
    }
    .logo2{
    color: white;
    }
   .navbar-brand{
    padding-bottom: 0px;
    margin-right: 0px; 
    }
    .nav-link{
        list-style: none;
        display: inline-block;
        font-weight:bold;
        font-size:16px;
        text-align: end;
        text-decoration: none;
        color: white;
    }  
    &:hover{
        color: rgb(58, 155, 58);
    }
}


